In [ ]:
# Replacing null values
# Replace missing values with means of the column (for numerical columns)
# Pay attention that the Income feature for instance has 0s which is equivalent to null values
# (We assume here that there is no such income with 0 as it refers to missing values) 
# Hint: numpy.nan is considered of float64 data type